*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1600px;
    margin: 0 auto;
}

/* Nav Bar */
.nav-bar {
    width: 1920px;
    height: 107px;
    background-color: #ffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 16px;
}

.nav-tags a{
    text-decoration: none;
    color: black;
}

.logo img{
    width: 250px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 55px;
    font-size: 20px;
}

.nav-tags{
    flex-direction: row;
}

.nav-contact{
    background-color: orange;
    height: 110px;
    padding: 35px 75px;
    font-size: larger;
    color: antiquewhite;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

span{
    color: white;
    font-weight: bolder;
    font-size: 32px;
}

/* Hero section */

.hero{
    background-image: url(image/Mask\ group.png);
    width: 1920px;
    height: 700px;
    padding-top: 130px;
    background-repeat: no-repeat;
    color: white;
    background-size: 100%;
    text-align: center;
}
.hero h1{
    font-weight: 500;
    line-height: 76px;
    font-size: 64px;
}

.hero p{
    color: hsla(0, 0%, 100%, 0.708);
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 25px;
}

.white-btn{
    width: 242px;
    height: 48px;
    padding: 12px 20px;
    color: orange;
    font-size: 16px;
    font-weight: 500;
}

.main-btn{
    padding: 10px 30px;
    background: #E9983F;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

/* Features */
.features{
    margin-block: 80px;
    width: 1135px;
    height: 517px;
}

.feature img{
    width: 458px;
    height: 517px;
}

.feature{
    display: flex;
    justify-content: space-between;
    margin-block: 20px;
    gap: 50px;
}

/* About Section */
.about{
    height: 719px;
    width: 1920px;
    background: #F2EBE387;
}

.about1 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 14px;
}

.about1 p {
    line-height: 26px;
}

.about1 button {
    align-self: flex-start;
}


.about-pay{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.about2{
    text-align: left;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about2 button{
    align-self: flex-start;
}

.image-abt img{
    margin-top: 60px;
    width: 479px;
    height: 513px;
}


/* Other section */
.other-section{
    height: 250px;
    padding-top: 45px;
    align-items: center;
    text-align: center;
    line-height: 39px;
}

.other-section p{
    font-weight: 600;
    font-size: 14px;
    color: #1808075E;
}

.other-section h1{
    font-weight: 700;
    font-size: 32px;
}


/* Cards section */
.cards{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card:hover{
    border: 2px solid blue;
}

.card{
    height: 415px;
    width: 360px;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 5px rgba(1, 1, 1,0.1);
    margin-bottom: 80px;
    transition: 0.2s ease-in-out;
}

.abt{
    text-align: center;
    position: absolute;
    left: 40px;
    bottom: 25px;
}

.abt button{
    margin-top: 8px;
}


/* book now section */
.book-now{
    background-image: url(image/banner2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 1920px;
    height: 305px;
}

.book-now button{
    padding: 10px 30px;
    color: orange;
    background-color: #f5f5f5;
    border: none;
}

/* contact section */
.contact{
    display: flex;
    justify-content: space-between;
    padding: 150px 150px;
    background: #F2EBE387;
    width: 1920px;
    height: 657px;
    gap: 50px;
}

.form-element input{
    width: 90%;
    margin-top: 10px;
    padding-right: 40px;
    padding-block: 15px;
}

.form-element button {
    margin-top: 10px;
}

.con{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* footer section */
footer{
    padding-block: 80px;
    background-color: #161616;
    color: white;
}

.link-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.link-column a{
    color: rgba(255, 255, 255, 0.53);
    text-decoration: none;
}

.footer-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* subfooter */
.subfooter{
    text-align: center;
    background-color: #161616;
    color: rgba(255, 255, 255, 0.53);
    padding-block: 10px;
}